:valid { color: green; }
body{
background-color:blue;
}
#mainDiv {
		
         height: 470px;
         width: 680px;
         position: relative;
         border-bottom: 5px solid #f51c40;
         background: #3beadc;
         }

#borderLeft  {
	     border-left: 2px solid #f51c40;
         position: absolute;
         top: 10%;
         bottom: 0;
         }

label{

    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
}
input {
  display: inline-block;
  float: left;
  box-shadow:0 0 20px #888; 
}
select {
 display: inline-block;
  float: left;
  width: 166px;
  box-shadow:0 0 20px #888; 

}
radio {
  display: inline-block;
  float: left;
  box-shadow:0 0 20px #888; 
}
.btn {
  
 color: black;

margin: 5px;

font-size: small;

font-family: Arial, sans-serif;

font-weight:bold;

background-color: #07B2C5;

 
}
